.header {
	text-align: center;
	border:solid;
	position: relative;
	padding-bottom: 3%;
	padding-top: 3%;
}

.section {
	text-align: center;
	border: solid;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1%;
	overflow: hidden;
}

/* inne i sectionen

#header {
	border: solid;
	margin-bottom: 2%;
	padding-bottom: 5%;
	padding-top: 5%;
}

#article {
	border:solid;
	padding-bottom: 5%;
	padding-top: 5%;
}

#footer {
	border:solid;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.inside {
	text-align: center;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.aside {
	float: right;
	text-align: center;
	border:solid;
	padding-bottom: 44.3%;
	padding-right: 3%;
	margin-top: 1%;
	margin-left: 1%

}

.navbar {
	position: relative;
	float: left;
	border:solid;
	padding-bottom: 44.3%;
	padding-right: 3%;
	margin-top: 1%;
	margin-right: 1%;
	text-align: center;
	
}

.footer {

	position: relative;
	margin-top: 0.5%;
	border:solid;
	text-align: center;
	padding-bottom: 3%;
	padding-top: 3%;
}

